html,
html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
    font: normal 100%/1.4 'Proxima', Arial, sans-serif;
    color: #666666;
}

object {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $white;
}

strong {
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

address {
    margin-bottom: 1em;
}

#wrapper {
    position: relative;
    margin: 0 auto;
}

table {
    width: 100%;
}
