

.content--calculator {
    background-color: $dblue;
    color: $white;
    padding: $spacer;
    margin-bottom: $spacer-large;
    overflow: hidden;
    h3 {
        @include inuit-font-size(64px, 1);
    }
    h4 {
        @include inuit-font-size(32px, 1);
    }
    @include media-query(small-and-palm) {
        h3 {
            @include inuit-font-size(36px, 1);
        }
        h4 {
            @include inuit-font-size(22px, 1);
        }
    }
    p {
        @include inuit-font-size(18px, 1.2);
        @include media-query(lap-and-up) {
            @include inuit-font-size(22px, 1.2);
        }
    }
    label {
        @include inuit-font-size(22px, 1.5);
        font-weight: bold;
        display: block;
        clear: both;
        padding-bottom: 6px;
    }
    .content--calculator__leftcol,
    .content--calculator__rightcol {
        overflow: hidden;
        @include media-query(lap-and-up) {
            @include span-columns(6);
        }
    }
    .content--calculator__leftcol {
        .leftLabel {
            display: block;
            @include inuit-font-size(22px, 1);
            @include media-query(small-and-palm) {
                @include inuit-font-size(13px, 1);
            }
            font-weight: bold;
            &:before {
                content: '£';
                font-size: 0.8em;
            }
        }
    }
    .content--calculator__rightcol {
        label {
            @include inuit-font-size(18px, 1);
            @include media-query(lap-and-up) {
                @include inuit-font-size(22px, 1.3);
            }
            margin-bottom: 0.5em;
        }
        span {
            font-weight: bold;
            @include inuit-font-size(22px, 1);
            @include media-query(lap-and-up) {
                @include inuit-font-size(28px, 1.3);
            }
            &:before {
                content: '£';
                font-size: 0.8em;
            }
        }
        .calculator--radial {
            position: relative;
            body.iedetected & {
                height: 500px;
            }
            svg {
                max-width: 100%;
            }
            ul {
                @extend %list-bare;
                font-weight: bold;
                position: absolute;
                top: 0;
                right: 55%;
                text-align: right;
                line-height: 60px;
                span {
                    font-size: 1em;
                }
                li:nth-of-type(1) {
                    color: $green;
                }
                li:nth-of-type(2) {
                    color: $lblue;
                }
                li:nth-of-type(3) {
                    color: $red;
                }
            }
            @include media-query(small-and-palm) {
                ul {
                    right: 52%;
                    font-size: 0.75rem;
                    line-height: 9vw;
                }
            }
            @include media-query(lap) {
                ul {
                    right: 52%;
                    top: 0;
                    font-size: 0.9rem;
                    line-height: 4.5vw;
                }
            }
        }
        .calculator--total {
            position: absolute;
            @include media-query(lap-and-up) {
                top: 50%;
            }
            @include media-query(small-and-palm) {
                top: 50%;
                label, span {
                    font-size: 0.8rem;
                }
            }
            @include media-query(small) {
                label, span {
                    font-size: 1rem;
                    margin: 0;
                    padding: 0;
                }
            }
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
            label {
                @include media-query(lap-and-up) {
                    &.large {
                        display: block;
                    }
                    &.small {
                        display: none;
                    }
                }
                @include media-query(small-and-palm) {
                    &.large {
                        display: none;
                    }
                    &.small {
                        display: block;
                    }
                }
            }
        }
    }
    .calculator--breakdown {
        margin-top: 3em;
        > div {
            @include span-columns(4);
        }
    }
    .nstHolder {
        float: left;
        margin-right: 10px;
        border-radius: 4px;
        background: #FFF;
        margin-bottom: 2em;
        @include media-query(small-and-palm) {
            margin-bottom: 1em;
        }
        padding: 12px;
        overflow: hidden;
        @include linear-gradient(#eee, #cdcdcd);
        border: 2px solid #fff;
    }
    .nstHolder,
    .nstSlider {
        width: 100%;
        max-width: 230px;
        @include media-query(lap-and-up) {
            max-width: 380px;
        }
    }
    .nstSlider {
        background-color: darken($dblue, 6);
        .bar {
            left: 0 !important;
            box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
            height: 20px;
            top: 0px;
        }
        .rightGrip,
        .leftGrip {
            background-color: #b2b2b2;
            box-shadow: inset 0px 1px 0px 1px #fff, inset 0px -1px 0px 1px #666, 1px 2px 3px rgba(0, 0, 0, 0.3)
        }
    }
}
