.content--block__bigtiles {
  @include clearfix;
  .content--tile__holder {
    // @include pack;
    display: flex;
    flex-flow: row wrap;
  }
  .content--tile {
    display: flex;
    flex-direction: column;
    @include media-query(desk) {
      width: 25%;
    }
    @include media-query(lap) {
      width: 50%;
    }
    @include media-query(small-and-palm) {
      width: 100%;
    }
    color: $white;
    margin-bottom: $spacer;
    padding: $spacer;
    h2 {
      margin-bottom: 0.25rem;
    }
    p:first-of-type {
      .iedetected & {
        padding-bottom: 1em;
      }
    }
    p:last-of-type {
      margin-top: auto;
      padding-top: 0.5em;
      line-height: 0.6;
    }
    p {
      font-weight: 600;
      strong {
        display: block;
        span {
          font-size: 66%;
        }
      }
      small {
        font-weight: bold;
      }
    }
    @include media-query(small-and-palm) {
      min-height: 400px;
      h2,
      p {
        max-width: 400px;
      }
      h2 {
        font-size: 10vw;
      }
      .content--tile__subhead {
        @include inuit-font-size(22px, 1);
      }
      p {
        @include inuit-font-size(32px, 1);
        strong {
          @include inuit-font-size(56px, 1);
        }
        small {
          @include inuit-font-size(24px, 1);
        }
      }
    }
    @include media-query(lap-and-up) {
      h2 {
        @include inuit-font-size(60px, 1);
      }
      .content--tile__subhead {
        @include inuit-font-size(26px, 1);
      }
      .tile--img + p {
        @include inuit-font-size(32px, 0.7);
      }
      p {
        @include inuit-font-size(26px, 1);
        strong {
          @include inuit-font-size(80px, 1);
        }
        small {
          @include inuit-font-size(36px, 1);
        }
      }
    }
    @include media-query(lap) {
      h2 {
        font-size: 6.5vw;
      }
      .content--tile__subhead {
        font-size: 4vw;
      }
      p {
        @include inuit-font-size(32px, 1);
        strong {
          @include inuit-font-size(90px, 1);
        }
        small {
          @include inuit-font-size(36px, 1);
        }
      }
    }
    a {
      @include inuit-font-size(22px, 1);
      text-transform: uppercase;
    }
  }
  .content--tile {
    position: relative;
    > * {
      position: relative;
      z-index: 1
    }
    .content--tile__subhead {
      font-weight: 500;
    }
    .tile--img {
      max-height: 300px;
      margin: 0 1em;
      z-index: 0;
    }
  }
  .content--tile {
    background: $lblue;
    border: 5px solid #fff;
  }
}

.link--block {
  @include tile--icon__hover($dblue, #000);
  @include inuit-font-size(18px, 1);
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  color: $white;
  padding: quarter($spacer-large) halve($spacer-large);
  &:after {
    @extend %arrow--base;
    @extend %arrow--tile;
    @extend %arrow--icon__circ;
  }
}
