$sidecol-size: rem(46px);
$pack-margin: halve($spacer);


@include media-query(desk) {
  .content--pack__holder {
    @include pack;
    .no-flexbox & {
      @include pack-table;
    }
  }
  .column--pack__main {
    position: relative;
    padding: halve($spacer) halve($spacer) 0 halve($spacer);
  }
  .column--pack__side {
    padding-top: halve($spacer);
  }
  .tile--img {
    margin-top: auto;
  }
}

@include media-query(lap) {
  .content--pack__holder {
    @include span-columns(12);
    flex-wrap: wrap;
    .content--pack {
      @include span-columns(6);
      @include omega(2n);
      margin-bottom: $spacer;
    }
    .column--pack__main {
      padding: halve($spacer) halve($spacer) 0 halve($spacer);
    }
    .column--pack__side {
      padding-top: halve($spacer);
    }
  }
}

@include media-query(small-and-palm) {
  .column--pack__side {
    padding-top: $spacer;
  }
  .column--pack__main {
    position: relative;
    padding: $spacer halve($spacer);
    min-height: 360px;
    .tile--img {
      max-width: 220px;
      max-height: 220px;
    }
  }
}


@include media-query(lap-and-up) {
  .column--pack__main {
    min-height: 360px;
    .tile--img {
      max-height: 240px;
    }
  }
}



@include media-query(small-and-palm) {
  .content--block__packages + .content--banner__daisy {
    display: none;
  }
}

@include media-query(lap) {
  .content--block__packages + .content--banner__daisy {
    display: none;
  }
}

.content--block__packages + .content--banner__daisy {
  margin: $spacer 0;
  + .content--banner__daisy {
    margin: $spacer 0;
  }
}

@include media-query(lap) {
  .content--block__packages,
  .content--block__card {
    .content--pack {
      min-height: 340px;
    }
  }
  .column--pack__main {
    .tile--img {
      min-width: 220px;
      max-width: 25vw;
    }
  }
}

@include media-query(desk) {
  .column--pack__main {
    min-height: 400px;
    .tile--img {}
  }
}


/* override */

@include media-query(lap-and-up) {
  .content--block__card {
    .column--pack__main {
      min-height: 380px;
    }
    .tile--img {
      max-height: 180px;
    }
  }
}

.content--pack {
  position: relative;
}

.column--pack__side + .column--pack__main > * {
  margin-left: $sidecol-size;
}
.column--pack__main > img {
  margin-top: auto;
}
.product--give .column--pack__sidecol--two + .column--pack__main {
    img {
        padding-top: 10%;
        padding-bottom: 1%;
        max-height: 210px;
    }
}

.column--pack__side {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  span {
    @include inuit-font-size(32px, 1);
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 3px;
  }
}

.column--pack__side {
  width: $sidecol-size;
  &col--one {
    background: $dblue;
    color: mix($lblue, #fff, 20)
  }
  &col--two {
    background: $lblue;
    color: mix($dblue, #fff, 20)
  }
  &col--three {
    background: $green;
    color: mix($green, #fff, 20)
  }
}

.content--pack__home .content--pack {
  background: none;
  padding-bottom: 0;
  flex-direction: column;
  @include media-query(small-and-palm) {
    margin-top: $spacer;
    a {
      margin-top: 1em;
    }
  }
  @include media-query(lap-and-up) {
    padding-right: $spacer;
    margin-top: 1em;
    a {
      position: absolute;
      bottom: 0;
    }
  }
}

.content--pack {
  @include media-query(lap-and-up) {
    margin-right: 1em;
    &:last-child {
      margin-right: 0em;
    }
  }
}
