.content--custom-tiles {
  color: $white;
  @include media-query(small-and-palm) {
    .content--custom-tile__alpha2 {
      position: relative;
      .tile__daisylogo {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
  @include media-query(lap-and-up) {
    @include pack-table;
    .content--custom-tile__beta1 {
      p {
        @include inuit-font-size(24px, 1.2);
        font-weight: 500;
        max-width: 85%;
      }
      img {
        vertical-align: bottom;
        margin-top: -20px; // offets towards text
        width: 90%;
      }
    }
    .content--custom-tile__beta2 {
      width: 30%;
      padding: 0;
    }
  }
  @include media-query(small-and-palm) {
    .content--custom-tile__beta1 {
      @include inuit-font-size(16px, 1.2);
    }
  }
  @include media-query(lap) {
    .content--custom-tile__alpha1 {
      width: 50%;
    }
    .content--custom-tile__alpha2 {
      width: 50%;
    }
  }
}

.content--custom-tile__alpha1 {
  background: $lblue;
}

.content--custom-tile__alpha2 {
  background: $dblue;
}

.content--custom-tile__beta1 {
  background: $green;
  padding-bottom: 0 !important;
}

.content--custom-tile__beta1,
.content--custom-tile__beta2 {
  vertical-align: bottom;
}

.content--custom-tile {
  padding: $spacer-large;
  &.content--custom-tile__alpha2 {
    h3 {
      @include inuit-font-size(36px, 1);
      @include media-query(small-and-palm) {
        padding-right: 20%;
      }
    }
    p {
      @include media-query(small-and-palm) {
        @include inuit-font-size(18px, 1.2);
      }
      @include media-query(lap-and-up) {
        @include inuit-font-size(24px, 1.2);
      }
      font-weight: 500;
    }
    .content--custom-tile__head {
      display: inline-block;
      float: left;
    }
    .tile__daisylogo {
      display: inline-block;
      width: 15%;
      vertical-align: top;
      margin-top: -12px;
      float: right;
      img {
        height: 160px;
      }
      width: 22%;
    }
    @include media-query(small-and-palm) {
      .content--custom-tile__head {
        width: 85%;
      }
      .tile__daisylogo {
        width: 15%;
      }
    }
    @include media-query(lap-and-up) {
      .content--custom-tile__head {
        width: 85%;
      }
      .tile__daisylogo {
        width: 15%;
      }
    }
    .partners-bt-virgin {
      @include media-query(lap-and-up) {
        width: 90%;
        max-width: 500px;
      }
    }
    // }
  }
}

.content--custom-tile,
.content--banner {
  h3 {
    @include media-query(desk) {
      @include inuit-font-size(36px, 1);
    }
    @include media-query(lap) {
      @include inuit-font-size(32px, 1);
    }
    @include media-query(small-and-palm) {
      font-size: 6vw;
      line-height: 1.1;
    }
  }
}

.superconnected-logo {
  @include media-query(small-and-palm) {
    max-width: 300px;
    padding: 1em;
  }
  @include media-query(lap-and-up) {
    padding: 3em;
  }
}

.custom--beta2__eligible {
  background-color: $dblue;
  font-weight: bold;
  a:after {
    float: right;
  }
  @include media-query(small-and-palm) {
    padding: quarter($spacer);
    a:after {
      margin-left: 0 !important;
    }
  }
  @include media-query(lap-and-up) {
    padding: quarter($spacer) $spacer quarter($spacer) double($spacer);
  }
}
