svg {
  max-width: 400px;
}

// ====== PAGE SCOPED ================
h1 {
  color: $dblue;
  font-weight: 600;
}

.content--contain > h1 {
  @include media-query(small-and-palm) {
    margin-top: 1.5rem;
    padding: 0 10px;
    line-height: 1.2;
  }
}

.content--contain.comparison {
  h1,
  h2,
  h3 {
    color: $dblue;
    font-weight: 600;
  }
  .separator {
    border-bottom: 1px solid $dblue;
    margin: 2em 0;
  }
  p.small {
    color: $dblue;
    font-weight: 500;
    @include inuit-font-size(16px, 1);
  }
  @include media-query(small-and-palm) {
    > .small {
      padding: 10px;
    }
  }
  .score {
    &:after {
      content: '';
      display: block;
      border-bottom: 3px solid red;
      transform: rotate(-14deg) translateY(-0.8em);
      width: 120%;
    }
  }
  .inline--logo {
    max-width: 240px;
    vertical-align: middle;
    @include media-query(small-and-palm) {
      max-width: 150px;
    }
  }
  .inline--logo__daisy {
    vertical-align: text-top;
    max-width: 180px;
    width: 100%;
  }
  .inline--logo__other {
    vertical-align: bottom;
    max-width: 110px;
    width: 100%;
  }
  @include media-query(small-and-palm) {
    > h1,
    > h2 {
      padding: 10px;
    }
    h2 {
      .inline--logo__other {
        margin-top: 10px;
        margin-bottom: -8px;
      }
    }
  }
  a.btn {
    display: block;
    background-color: $lblue;
    @include inuit-font-size(16px, 1);
    font-weight: bolder;
    padding: 10px 10px;
    position: relative;
    margin-top: 1em;
    &:after {
      position: absolute;
      right: 10px;
      top: 6px;
      display: inline-block;
      width: 24px;
      height: 24px;
      @extend %arrow--base;
      @extend %arrow--icon__circ;
    }
  }
}

// ========= TABLES ========
.table--container {
  margin-top: 2em;
  margin-bottom: 2em;
  @include media-query(small-and-palm) {
    table {
      min-width: 1024px;
    }
    overflow-x: auto;
  }
  @include media-query(lap) {
    table {
      min-width: 1024px;
    }
    overflow-x: auto;
  }
  @include media-query(desk) {}
}

.compare--table {
  th {
    color: $white;
    padding: 5px 15px;
    font-weight: bolder;
    @include inuit-font-size(16px, 1.2);
  }
  td,
  th {
    text-align: left;
  }
  td {
    color: $dblue;
    border-bottom: 1px solid $dblue;
    padding: 15px;
    .alt {
      color: $red;
      font-weight: 500;
    }
    p {
      font-weight: 500;
    }
    @include media-query(small-and-palm) {
      li {
        @include inuit-font-size(14px, 1.2);
      }
      p {
        @include inuit-font-size(30px, 1);
        letter-spacing: -1px;
        margin: 0;
      }
      .lg {
        @include inuit-font-size(45px, 1);
        letter-spacing: -3px;
      }
      .sm {
        @include inuit-font-size(19.5px, 1);
      }
      .alt {
        @include inuit-font-size(16px, 1);
      }
      br {
        display: none;
      }
    }
    @include media-query(lap) {
      li {
        @include inuit-font-size(16px, 1.2);
      }
      p {
        @include inuit-font-size(32px, 1);
        letter-spacing: -1px;
        margin: 0;
      }
      .lg {
        @include inuit-font-size(48px, 1);
        letter-spacing: -3px;
      }
      .sm {
        @include inuit-font-size(18px, 1);
      }
      .alt {
        @include inuit-font-size(16px, 1);
      }
    }
    @include media-query(desk) {
      li {
        @include inuit-font-size(19px, 1.2);
      }
      p {
        @include inuit-font-size(40px, 1);
        letter-spacing: -1px;
        margin: 0;
      }
      .lg {
        @include inuit-font-size(60px, 1);
        letter-spacing: -3px;
      }
      .sm {
        @include inuit-font-size(26px, 1);
      }
      .alt {
        @include inuit-font-size(19px, 1);
      }
    }
  }
  .table__ident {
    @include media-query(desk) {
      display: none;
    }
    position: relative;
    span {
      position: fixed;
      line-height: 0;
    }
  }
}

.compare--table__package {
  th {
    background-color: $red;
  }
  td,
  th {
    vertical-align: top;
  }
  .list ul {
    @extend %list-bare;
    li:first-of-type {
      font-weight: 600;
      margin-bottom: 0.5em;
      @include media-query(small-and-palm) {
        display: none;
      }
      @include media-query(lap) {
        display: none;
      }
    }
  }
}

.compare--table__supplier {
  th {
    background-color: $dblue;
  }
  td,
  th {
    vertical-align: middle;
  }
  th.lastcol {
    background-color: $lblue;
  }
  tr:last-of-type {
    background-color: mix($lblue, $white, 20);
  }
  td.lastcol {
    background-color: mix($lblue, $white, 50);
    .order {
      @include inuit-font-size(22px, 1);
      font-weight: 600;
      position: relative;
      &:after {
        @extend %arrow--base;
        @extend %arrow--icon;
        @extend %arrow--icon__circ;
        background-image: url("/img/svg/arrow-blue.svg");
        position: absolute;
        right: 0;
        width: 2em;
        height: 2em;
        top: 0;
      }
      br {
        display: initial !important;
      }
    }
  }
  td:first-of-type {
    img {
      width: 90px;
    }
  }
  .co__logo__mob {
    img {
      max-width: 90px;
    }
    @include media-query(desk) {
      display: none;
    }
  }
}

// ====== ROWS ================
.content--row__compare {
  @include outer-container;
  @include media-query(small-and-palm) {
    .content--row__left {
      @include span-columns(12);
      padding: 10px;
    }
    .content--row__right {
      display: none;
    }
  }
  @include media-query(lap-and-up) {
    .content--row__left {
      @include span-columns(8);
    }
    .content--row__right {
      @include span-columns(4);
    }
  }
}

.content--row__comparealt {
  @include outer-container;
  @include media-query(small-and-palm) {
    padding: 10px;
    .content--row__left {
      @include span-columns(12);
      @include omega;
    }
    .content--row__right {
      @include span-columns(12);
      br {
        display: none;
      }
      img {
        float: left;
        padding: 10px;
        height: 50px;
        @include span-columns(3);
        margin-top: 0.5em;
      }
    }
  }
  @include media-query(lap-and-up) {
    .content--row__left {
      @include span-columns(9);
    }
    .content--row__right {
      @include span-columns(3);
      img {
        margin-bottom: 1em;
      }
    }
  }

}

.odometer-inside {
  background-color: rgb(0, 47, 103);
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  padding: 0 10px;
}

.odometer-digit {
  border-right: 2px solid #092A50;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.flex-col {
  display: flex !important;
  flex-direction: column !important;
}

.flex-col.flex-row_sm {
  @include media-query(small-and-palm) {
    flex-direction: row !important;
  }
}
