/* --------------------------------

Main Components

-------------------------------- */

$cd-text: #fff;
$cd-background: $dblue;
$cd-trigger: $lblue;
$cd-divider: mix($cd-background, $cd-text, 70);

.cd-dropdown-content a, .cd-dropdown-content ul a {
    border-width: 0;
}


.cd-dropdown-wrapper {
    display: inline-block;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
}

.cd-dropdown-trigger {
    display: block;
    position: relative;
    padding: 0 $spacer 0 0;
    color: $cd-text;
}

.cd-dropdown-content li {
    padding: halve($spacer) $spacer-large;
    &:hover {
/*         background-color: $cd-divider; */
    }
    a {
        strong {}
        small {
            text-transform: none;
            font-weight: 500;
        }
    }
}

.cd-dropdown-trigger::before,
.cd-dropdown-trigger::after {
    /* this is the arrow inside the dropdown trigger*/
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 9px;
    background: $cd-trigger;
    backface-visibility: hidden;
    transition: width 0.3s, transform 0.3s;
}

.cd-dropdown-trigger::before {
    right: 10px;
    transform: rotate(45deg);
}

.cd-dropdown-trigger::after {
    right: 5px;
    transform: rotate(-45deg);
}

@media only screen and (min-width: 720px) {
    .cd-dropdown-trigger {
    }
    .cd-dropdown-trigger.dropdown-is-active {
    }
    .no-touch .cd-dropdown-trigger.dropdown-is-active:hover {
    }
    .cd-dropdown-trigger.dropdown-is-active::before,
    .cd-dropdown-trigger.dropdown-is-active::after {

        width: 14px;
    }
    .cd-dropdown-trigger.dropdown-is-active::before {

        transform: translateX(5px) rotate(-45deg);
    }
    .cd-dropdown-trigger.dropdown-is-active::after {

        transform: rotate(45deg);
    }
}




.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a {

}


@media only screen and (min-width: 720px) {
    .cd-dropdown h2,
    .cd-dropdown-content a,
    .cd-dropdown-content ul a {

    }
}

.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a,
.cd-dropdown-content .cd-divider {

}

.cd-dropdown {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cd-text;
    color: #ffffff;
    visibility: hidden;

    backface-visibility: hidden;
    transform: translateZ(0);
    transform: translateY(-100%);
    transition: transform 0.5s 0s, visibility 0s 0.5s;
}

.cd-dropdown h2 {

    position: relative;
    z-index: 1;

}

.cd-dropdown .cd-close {

    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;

    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}

.cd-dropdown .cd-close::after,
.cd-dropdown .cd-close::before {

    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    height: 20px;
    width: 2px;
    background-color: #ffffff;
}

.cd-dropdown .cd-close::after {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.cd-dropdown .cd-close::before {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.cd-dropdown.dropdown-is-active {
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.5s 0s, visibility 0s 0s;
}


@media only screen and (min-width: 720px) {
    .cd-dropdown {
        position: absolute;
        top: calc(100% - 2px);

        height: auto;
        width: auto;
        transform: translateX(0);
        background-color: $cd-background;
        color: $cd-text;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
    }
    .open-to-left .cd-dropdown {

        right: 0;
        left: auto;
    }
    .cd-dropdown h2,
    .cd-dropdown .cd-close {

        display: none;
    }
    .cd-dropdown.dropdown-is-active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s;
    }
}



.cd-dropdown-content a,
.cd-dropdown-content ul a {
    display: block;
    color: #ffffff;
    /* truncate text with ellipsis if too long */

    overflow: hidden;
/*     text-overflow: ellipsis; */
/*     white-space: nowrap; */

}

.cd-dropdown-content li:first-of-type > a,
.cd-dropdown-content ul li:first-of-type > a {
}

.cd-dropdown-content li:last-of-type > a,
.cd-dropdown-content ul li:last-of-type > a {
}

.cd-dropdown-content .cd-divider,
.cd-dropdown-content ul .cd-divider {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0b0e23;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #585a70;
    text-transform: uppercase;
}

.cd-dropdown-content .cd-divider + li > a,
.cd-dropdown-content ul .cd-divider + li > a {
}

.cd-dropdown-content a,
.cd-dropdown-content .cd-search,
.cd-dropdown-content .cd-divider,
.cd-dropdown-content ul a,
.cd-dropdown-content ul .cd-search,
.cd-dropdown-content ul .cd-divider {

    transform: translateZ(0);
    backface-visibility: hidden;
    transition: opacity 0.3s, transform 0.3s;
}

.dropdown-is-active .cd-dropdown-content,
.dropdown-is-active .cd-dropdown-content ul {
}


/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;

    /* this is the right arrow to show that the item has a submenu  */
    &::after {
        content: '';
        display: block;
        height: 11px;
        width: 8px;
        position: absolute;
        @include center(y);
        right: 1em;
        background: url('/img/cd-arrow.svg') no-repeat center center;
        background-size: 8px 11px;

        @include transition-property(transform);
        @include transition-duration(.2s);
    }

    &.submenu-open::after {
        @include transform(translateY(-50%) rotate(90deg));

    }
}


@media only screen and (min-width: 720px) {
    .cd-dropdown-content {
        /* reset mobile style */

        position: static;
        height: auto;
        width: 480px;
    }
    .cd-dropdown-content > li:last-of-type a {
        // border-bottom: none;
    }
    .no-touch .cd-dropdown-content > li:not(.has-children) a:hover {
        color: $lblue;
    }

    .cd-dropdown-content > .has-children > ul {
        visibility: hidden;
    }
    .cd-dropdown-content > .has-children > ul.is-active {
        /* when hover over .cd-dropdown-content items - show subnavigation */

        visibility: visible;
    }
    .cd-dropdown-content > .has-children > .cd-secondary-dropdown.is-active > li > ul {
        /* if .cd-secondary-dropdown is visible - show also subnavigation */

        visibility: visible;
    }
    .cd-dropdown-content > .has-children > a.is-active {
        /* hover effect for .cd-dropdown-content items with subnavigation */

        box-shadow: inset 2px 0 0 #3f8654;
        color: #3f8654;
    }
    .cd-dropdown-content > .has-children > a.is-active::before,
    .cd-dropdown-content > .has-children > a.is-active::after {
        background: #3f8654;
    }
    .open-to-left .cd-dropdown-content > .has-children > a.is-active {
        box-shadow: inset -2px 0 0 #3f8654;
    }
}



@keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}



@keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}


.no-js .cd-dropdown-wrapper:hover .cd-dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.no-js .cd-dropdown-wrapper .cd-close {
    display: none;
}
