/* Fallbacks */


/************************************************************************************/

.no-csstransforms3d {}

.no-generatedcontent {}

.ie-9,
.ie-10 {
  .column--pack__main .tile--img {
    position: static;
  }
}

.iedetected {
  svg {
    width: 100%;
  }
  img.iesvg {
    width: 100%;
    height: auto;
  }
  .iesvgw {
    width: 100%;
  }
  .swiper-slide img {
    height: 400px;
  }
  #radial {
    .st0 {
      clip-path: none;
      fill: none;
      stroke: #F15D41;
      stroke-width: 43;
    }
    #PATH2 {
      clip-path: none;
      fill: none;
      stroke: #178FCE;
      stroke-width: 43;
    }
    .st2 {
      clip-path: none;
      fill: none;
      stroke: #07B05C;
      stroke-width: 43;
    }
  }
  .content--row__right {
    img {
      width: 100px;
      height: 50px;
    }
  }
}

.no-flexbox .content--product-area {
  margin-bottom: $spacer;
  @include outer-container;
  .section {
    @include media-query(lap-and-up) {
      .product--column {
        &:nth-of-type(1) {}
        &:nth-of-type(2) {
          .product--info {
            @include span-columns(6.5, block-collapse);
          }
          .product--order {
            @include span-columns(5.5, block-collapse);
          }
        }
      }
    }
  }
  .product--column {
    &:nth-of-type(1) {
      @include media-query(small) {
        @include span-columns(3.5, block-collapse);
      }
      @include media-query(palm) {
        @include span-columns(3, block-collapse);
      }
      @include media-query(lap-and-up) {
        @include span-columns(2.5, block-collapse);
      }
    }
    &:nth-of-type(2) {
      @include media-query(small) {
        @include span-columns(8.5, block-collapse);
        @include omega;
      }
      @include media-query(palm) {
        @include span-columns(9, block-collapse);
        @include omega;
      }
      @include media-query(lap-and-up) {
        @include span-columns(9.5, block-collapse);
      }
    }
  }
}
