@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proximanova-light-webfont.eot');
    src: url('/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-light-webfont.woff') format('woff'),
         url('/fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proximanova-lightit-webfont.eot');
    src: url('/fonts/proximanova-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-lightit-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-lightit-webfont.woff') format('woff'),
         url('/fonts/proximanova-lightit-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-lightit-webfont.svg#proxima_novalight_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}





@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proximanova-regular-webfont.eot');
    src: url('/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proximanova-regularit-webfont.eot');
    src: url('/fonts/proximanova-regularit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regularit-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-regularit-webfont.woff') format('woff'),
         url('/fonts/proximanova-regularit-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-regularit-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: 400;
    font-style: italic;

}





@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proximanova-semibold-webfont.eot');
    src: url('/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('/fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}


@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proximanova-semiboldit-webfont.eot');
    src: url('/fonts/proximanova-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-semiboldit-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-semiboldit-webfont.woff') format('woff'),
         url('/fonts/proximanova-semiboldit-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-semiboldit-webfont.svg#proxima_novasemibold_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}






@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proximanova-bold-webfont.eot');
    src: url('/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: 600;
    font-style: normal;

}


@font-face {
    font-family: 'Proxima';
    src: url('/fonts/proximanova-boldit-webfont.eot');
    src: url('/fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-boldit-webfont.woff2') format('woff2'),
         url('/fonts/proximanova-boldit-webfont.woff') format('woff'),
         url('/fonts/proximanova-boldit-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: 600;
    font-style: italic;

}





@mixin body-copy-small {
    @include inuit-font-size(14px, 1.6);
}
@mixin intro-copy {
    @include inuit-font-size(26px, 1.2);
}
@mixin header__normal {
    @include inuit-font-size(32px, 1.2);
}
.header--normal {
    @include media-query(small) {
        @include inuit-font-size(18px, 1.2);
    }
    @include media-query(palm) {
        @include inuit-font-size(22px, 1.2);
    }
    @include media-query(lap) {
        @include inuit-font-size(28px, 1.2);
    }
    @include media-query(desk) {
        @include inuit-font-size(36px, 1.2);
    }
    font-weight: bold;
    color: $dblue;
    .alt {
        color: $red;
    }
}

@mixin header__link {
    @include inuit-font-size(16px, 1.2);
    color: $white;
    @include media-query(lap) {
        @include inuit-font-size(14px, 1);
    }
}


@mixin header__large {
    @include inuit-font-size(64px, 1);
}


.alt-red {
    color: $red;
}
