@mixin abs-fill($offset:0) {
    position: absolute;
    top: $offset;
    bottom: $offset;
    left: $offset;
    right: $offset;
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

%justified {
    text-align: justify;
    &::after {
        font-size: 0;
        content: "";
        width: 100%;
        display: inline-block;
    }
}

%cta-gradient {
    @include linear-gradient($dgrey, $lgrey);
}

.dn {
    /* Hide content off-screen without hiding from screen-readers. Supports RTL languages. */
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}




@mixin triangle($dir, $size, $color) {
    border: $size transparent solid;

    @if ($dir == "top" or $dir == "up") {
        border-bottom-color: $color;
    }
    @else if ($dir == "right" or $dir == "after") {
        border-left-color: $color;
    }
    @else if ($dir == "bottom" or $dir == "down") {
        border-top-color: $color;
    }
    @else if ($dir == "left" or $dir == "before") {
        border-right-color: $color;
    }
}
