.home--badges .content--block__title {
  margin: 12px 0;
  & + p {
    @include inuit-font-size(24px, 1.5);
    color: $dblue;
    text-align: center;
    font-weight: bold;
    @include media-query(small-and-palm) {
      padding: 1em 1em 0 1em;
      line-height: 1.1;
    }
  }
}

.home--badges {
  margin-bottom: $spacer;
  .product--badges {
    @include clearfix;
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    padding-left: 6px;
    justify-content: center;
    > div {
      width: 20%;
      padding: 5px;
      @include media-query(small-and-palm) {
        width: 33%;
      }
      // @include media-query(desk) {
      //   width: 20%;
      //   padding: halve($spacer) 0 halve($spacer) $spacer-large;
      // }
    }
  }
}
