%arrow--icon__white {
  background-image: url('/img/svg/arrow.svg');
  background-repeat: no-repeat;
  background-size: 50%;
}

%arrow--icon__circ {
  background-image: url('/img/svg/arrow-circ.svg');
  background-repeat: no-repeat;
  background-size: 80%;
}

%arrow--base {
  content: '';
  margin-left: 0.5em;
  display: inline-block;
  border-radius: 50%;
  background-position: 50%;
}

%arrow--tile {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

%arrow--icon {
  width: 1.4em;
  height: 1.4em;
  vertical-align: text-bottom;
}




.content--block__holder,
.content--pack__holder {
  .link--icon {
    &:after {
      @extend %arrow--base;
      @extend %arrow--icon;
      @extend %arrow--icon__white;
      vertical-align: bottom;
    }
  }
}

.custom--beta2__eligible {
  a {
    color: #fff;
    &:after {
      @extend %arrow--base;
      @extend %arrow--tile;
      @extend %arrow--icon__circ;
    }
  }
}
