/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// These variables are inuitcss’ defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.

// High-level base settings.
$inuit-base-font-size:          16px;
$inuit-base-line-height:        24px;
$inuit-base-text-color:         #333;
$inuit-base-background-color:   #fff;


// Namespace.
//
// Would you like inuitcss’ classes to be prepended with a namespace? If so,
// define it here.
$inuit-namespace:               null;


// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$inuit-base-spacing-unit:           $inuit-base-line-height;
$inuit-base-spacing-unit--small:    round($inuit-base-spacing-unit / 2);
$inuit-base-spacing-unit--large:    round($inuit-base-spacing-unit * 2);


/* ================================================================================ */

// Custom starts here


@function quarter($inuit-number) {
    @return ($inuit-number / 4);
}

@function halve($inuit-number) {
    @return ($inuit-number / 2);
}

@function double($inuit-number) {
    @return ($inuit-number * 2);
}

@function quadruple($inuit-number) {
    @return ($inuit-number * 4);
}



$inuit-heading-size-1:  32px;
$inuit-heading-size-2:  24px;
$inuit-heading-size-3:  21px;




$inuit-enable-list-inline--delimited : true;
$inuit-list-inline-delimit-character:   "| " ;

// breakpoints for settings repsonsive

$breakpoints: (
    "small"           "screen and (max-width: 24.9375em)",
    "palm"            "screen and (min-width: 25em) and (max-width: 44.9375em)",
    "small-and-palm"  "screen and (max-width: 44.9375em)",

    "lap"             "screen and (min-width: 45em) and (max-width: 63.9375em)",
    "lap-and-up"      "screen and (min-width: 45em)",
    "lap-and-twelve"  "screen and (min-width: 45em) and (max-width: 1280px)",

    "portable"        "screen and (max-width: 63.9375em)",
    "desk"            "screen and (min-width: 64em)",
    "desk-and-twelve" "screen and (min-width: 64em) and (max-width: 1280px)",
    "retina"          "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
);

