body {
    // overflow-x: hidden;
}

.content--contain {
    @include media-query (lap-and-up) {
        margin-top: $spacer-large;
        margin-bottom: $spacer-large;
        padding-left: $spacer;
        padding-right: $spacer;
        .content--block__title {
            margin: $spacer-large 0;
        }
    }
}

.header--nav {
    text-transform: uppercase;
    font-weight: 700;
}

.header--right__message {
    font-weight: 300;
    text-align: right;
}

@include media-query (desk) {
    .header--left__cashback {
        width: 340px;
    }
    .header--right__message {
        @include inuit-font-size(28px, 1.6);
        margin-bottom: 8px;
    }
    .header--left__daisy img {
        // margin-top: -20px;
        width: 80px;
    }
}

@include media-query (lap) {
    .header--left__cashback {
        min-width: 220px;
    }
    .header--left__daisy {
        max-width: 45px;
    }
    .header--right__message {
        @include inuit-font-size(28px, 41px);
    }
}

@include media-query (palm) {
    .header--left__cashback {
        min-width: 60vw;
        margin-left: 8vw;
    }
    .header--right__message {
        margin: 10px 0;
        font-size: 6vw;
        text-align: center;
    }
}

@include media-query (small) {
    .header--left__cashback {
        min-width: 67vw;
        margin-left: 3vw;
    }
    .header--left__daisy {
        max-width: 42px;
    }
    .header--right__message {
        margin: $spacer 0;
        @include inuit-font-size(22px, 1);
        text-align: center;
    }
}

@include media-query (lap) {
    .header--left {
        padding-left: $spacer;
    }
}

@include media-query (lap-and-twelve) {
    .content--contain .content--pack__home .content--block__title {
        margin-left: -(halve($spacer-large));
        margin-right: -(halve($spacer-large));
    }
}

@include media-query (desk-and-twelve) {
    // .header--left {
    //     margin-left: $spacer;
    // }
}

@include media-query (desk-and-twelve) {
    // .header--left {
    //     margin-left: $spacer;
    // }
}

@include media-query (desk) {
    // .header--left {
    //     margin-left: $spacer;
    // }
}

.flexbox {
    .column--pack__main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .content--pack__column-video {
        // flex-direction: column;
        // justify-content: flex-start;
        background: none;
        display: block;
        .video-holder {
            background: $lgrey;
        }
    }
}

.content--block__packages, .content--block__card{
    .content--pack {
        background: #eee;
        @include media-query (lap-and-up) {
            &:not(:last-of-type) {
                // margin-right: 1em;
            }
        }
        &.content--pack__column-video {
            background: transparent;
        }
    }
}

.content--block__card{
    margin-bottom: 1.5em;
}
