.ip-header {
    position: fixed;
    top: 0;
    z-index: 100;
    min-height: 480px;
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
}

.ip-header h1 {
    margin: 0;
}

.ip-logo,
.ip-loader {
    position: absolute;
    /*     right: 50%; */

    left: 0;
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.ip-logo {
    top: 0;
    height: 100%;
    transform: translate3d(0, 0%, 0);
}

.ip-loader {
    bottom: 5%;
}

.ip-header .ip-inner {
    display: block;
    margin: 0 auto;
}

.ip-header .ip-logo svg {
    min-width: 320px;
    max-width: 480px;
    width: 25%;
}

.ip-header .ip-logo svg path {
    fill: #ef6e7e;
}

.ip-header .ip-loader svg path {
    fill: none;
    stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
    stroke: #ddd;
}

.ip-header .ip-loader svg path.ip-loader-circle {
    transition: stroke-dashoffset 0.2s;
    stroke: $lblue;
}
/* Animations */
/* Initial animation of header elements */

.loading .ip-logo,
.loading .ip-loader {
    opacity: 1;
    animation: animInitialHeader 1s cubic-bezier(0.7, 0, 0.3, 1) both;
}

.loading .ip-loader {
    animation-delay: 0.2s;
}

@keyframes animInitialHeader {
    from {
        opacity: 0;
        transform: translate3d(0, 800px, 0);
    }
}


.loaded .ip-logo,
.loaded .ip-loader {
    opacity: 1;
}

.loaded .ip-logo {
    transform-origin: 50% 0;
    animation: animLoadedLogo 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes animLoadedLogo {
    to {
        transform: translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
        opacity: 0;
    }
}

.loaded .ip-loader {
    -webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation: animLoadedLoader 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes animLoadedLoader {
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    }
}
/* Change the color of the logo */

.loaded .ip-logo svg path {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
    fill: #fff;
}
/* Header animation when loading finishes */

.loaded .ip-header {
    -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes animLoadedHeader {
    to {
        transform: translate3d(0, -100%, 0);
    }
}
/* Content animations */

.loaded .ip-main {
    .home--badges {
        .content--block__title {
            animation: animLoadedContent 0.6s cubic-bezier(0.7, 0, 0.3, 1) both;
        }
        p {
            animation: animLoadedContent 0.9s cubic-bezier(0.7, 0, 0.3, 1) both;
        }
        @for $i from 1 through 10 {
            div:nth-child(3) > div:nth-of-type(#{$i}) {
                animation: animLoadedContent (1.0s + ($i / 10)) cubic-bezier(0.7, 0, 0.3, 1) both;
            }
        }
    }
    .content--block__bigtiles {
        .content--block__title {
            animation: animLoadedContent (2s) cubic-bezier(0.7, 0, 0.3, 1) both;
        }
        .content--tile__holder > div {
            @for $n from 1 through 4 {
                &:nth-of-type(#{$n}) {
                    animation: animLoadedContent (2.0s + ($n / 10)) cubic-bezier(0.7, 0, 0.3, 1) both;
                }
            }
        }
    }

}


.loaded .ip-main .browser,
.loaded .ip-main .browser .box:first-child {
    animation-delay: 0.1s;
}

.loaded .ip-main .browser .box:nth-child(2) {
    animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes animLoadedContent {
    from {
        opacity: 0;
        transform: translate3d(0, 200px, 0);
    }
}
/* Change layout class for header */

.layout-switch .ip-header {
    position: absolute;
    z-index: 1001;
}
/* No JS */

.no-js .ip-header {
    position: relative;
    min-height: 0px;
}

.no-js .ip-header .ip-logo {
    margin-top: 20px;
    height: 180px;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.no-js .ip-header .ip-logo svg path {
    fill: #fff;
}
/* Media queries */

@media screen and (max-width: 45em) {
    .ip-main h2 {
        font-size: 2.25em;
        font-size: 10vw;
    }
    .box {
        width: 100%;
    }
}
