.content--product-area {
  margin-bottom: $spacer-large;
  .section {
    display: flex;
    flex-direction: row;
    .product--column {
      &:nth-of-type(1) {
        display: flex;
        flex-direction: column;
      }
      &:nth-of-type(2) {
        flex-grow: 3;
        display: flex;
        .product--info {
          display: flex;
          flex-direction: column;
        }
        @include media-query(small-and-palm) {
          flex-grow: 1;
        }
        .tabs-content {
          display: flex;
          flex-direction: column;
          flex: 1;
          .content.active {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
          }
        }
      }
      .product--order {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      .product--order__item.active {
        display: flex !important;
        flex-direction: column;
        flex-grow: 1;
        .order--cashback {
          flex-grow: 1;
          svg {
            position: relative;
            top: 1em;
          }
        }
        .no-flexbox & {
          display: block !important;
        }
      }
      .product--order__item {
        display: none;
        .order--cashback,
        .order {
          // flex-grow: 1;
          // display: flex;
        }
      }
    }
  }
}

.product--column {
  &:nth-of-type(1) {
    @include media-query(small-and-palm) {
      width: 100px;
      min-width: 100px;
    }
    @include media-query(lap) {
      width: 150px;
      min-width: 150px;
    }
    @include media-query(desk) {
      width: 160px;
      min-width: 160px;
    }
  }
  &:nth-of-type(2) {
    @include media-query(small-and-palm) {
      flex-direction: column !important;
      .product--info {}
      .product--order {}
    }
    @include media-query(lap) {
      .product--info {
        width: 70%;
      }
      .product--order {
        min-width: 280px;
        max-width: 30%;
      }
    }
    @include media-query(desk) {
      .product--info {
        min-width: 360px;
        width: 70%;
      }
      .product--order {
        max-width: 30%;
      }
    }
  }
}


.content--product-area {
  @include media-query(small-and-palm) {
    background: mix($lblue, $white, 30);
  }

  .product--column {
    overflow: hidden;
    &:nth-of-type(1) {
      background: mix($lblue, $white, 30);
    }
    &:nth-of-type(2) {
      background-color: #fff;
    }
  }

  .column--header {
    @include inuit-font-size(16px, 1);
    padding: quarter($spacer-large) halve($spacer);
    font-weight: 500;
  }

  @include media-query(small-and-palm) {
    .product--order .column--header {
      display: none;
    }
    .product--order .order--cashback {
      display: none !important;
    }
  }

  .tabs.vertical {
    width: 100%;
  }

  .tab-title {
    > a {
      padding: 0.5em;
      background: mix($lblue, $white, 30);
      @include inuit-font-size(32px);
      @include media-query(small) {
        @include inuit-font-size(22px);
      }
      @include media-query(palm) {
        @include inuit-font-size(22px);
      }
      font-weight: 500;
      color: $white;
      text-decoration: none;
      span {
        @include inuit-font-size(18px);
        @include media-query(small) {
          @include inuit-font-size(16px);
        }
        @include media-query(small) {
          @include inuit-font-size(18px);
        }
      }
    }
    > a:hover,
    &.active a {
      background: $lblue;
      color: $white;
    }
    &:not(last-child) {
      border-bottom: 2px solid white;
    }
    &.contact a {
      @include inuit-font-size(18px, 1.1);
      @include media-query(small-and-palm) {
        @include inuit-font-size(14px, 1.1);
      }
    }
    position: relative;
    &.active:after {
      content: '';
      @include triangle(left, 10px, white);
      display: inline-block;
      @include center(y);
      position: absolute;
      right: 0;
    }
  }

  .product--column {
    .column--header {
      background: $dblue;
      color: $white;
    }
  }

  .product--info .content {
    h3 {
      @include inuit-font-size(28px, 1.1);
      @include media-query(small-and-palm) {
        @include inuit-font-size(20px, 1.1);
      }
      padding: quarter($spacer) halve($spacer);
      color: $dblue;
      span {
        color: $red;
      }
    }
    ul {
      @include media-query(small-and-palm) {
        margin-left: 1.5em;
      }
    }
    li {
      @include media-query(small) {
        @include inuit-font-size(16px, 1.2);
        &:before {
          background-size: 10px;
          width: 15px;
          height: 15px;
        }
      }
      @include media-query(palm) {
        @include inuit-font-size(18px, 1.2);
        &:before {
          background-size: 15px;
          width: 20px;
          height: 20px;
        }
      }
      @include media-query(lap-and-up) {
        @include inuit-font-size(22px, 1.2);
        &:before {
          background-size: 15px;
          width: 20px;
          height: 20px;
        }
      }
      position: relative;
      color: $dblue;
      font-weight: 200;
      list-style-type: none;
      padding: quarter($spacer);
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        background-image: url('/img/svg/arrow-green.svg');
        background-repeat: no-repeat;
        left: -0.75em;
      }
    }
  }

  .product--info {
    position: relative;
    background-color: #F1F1F2;
    .tabs-content {
      .product--stamps,
      .product--badges,
      .product--text {
        @include media-query(small-and-palm) {
          padding: 0 10px;
        }
        @include media-query(lap-and-up) {
          padding: 0 20px;
        }
      }
      .product--stamps {
        @include clearfix;
        > div {
          @include media-query(small-and-palm) {
            @include span-columns(6);
            @include omega(2n);
          }
          @include media-query(lap) {
            @include span-columns(6);
            @include omega(2n);
          }
          @include media-query(desk) {
            @include span-columns(3);
          }
        }
      }
      .product--badges {
        // display: none;
        @include clearfix;
        display: flex;
        flex-direction: row;
        @include media-query(small-and-palm) {
          flex-wrap: wrap;
        }
        @include media-query(lap) {
          flex-wrap: wrap;
        }
        > div {
          flex: 1 auto;
          body.iedetected & {
            width: 25% !important;
          }
          @include media-query(small-and-palm) {
            margin: 10px 0;
            min-width: 90px;
            max-width: 50%;
          }
          @include media-query(lap) {
            margin: 10px 0;
            min-width: 100px;
            max-width: 50%;
          }
          @include media-query(desk) {
            max-width: 25%;
          }
        }
      }
      .product--text {
        margin-top: 1em;
        color: $dblue;
        &.product--text__below {
          margin-top: auto;
          margin-bottom: 1em;
        }
        h2 {
          margin-bottom: 0.5em;
        }
      }
      @include media-query(small-and-palm) {
        p.product--text {
          font-size: 80%;
        }
      }
      .product--sub__sfb\.svg {
        margin-bottom: 1em;
        max-width: 500px;
      }
      .product--sub__hare\.svg {
        width: 600px;
        svg {
          max-width: 100%;
        }
      }
      .product--text {
        max-width: 600px;
      }
    }
  }

  .product--order__item {
    background: $lblue;
  }

  .flash {
    background: $green;
    color: $white;
    padding: halve($spacer) $spacer;
    font-weight: bolder;
    p {
      margin: 0;
    }
    span {
      display: block;
    }
    @include media-query(small-and-palm) {
      span {
        @include inuit-font-size(40px, 1.2);
      }
      p {
        @include inuit-font-size(22px, 1);
      }
    }
    @include media-query(lap) {
      p {
        @include inuit-font-size(32px, 1.2);
      }
      span {
        @include inuit-font-size(60px, 1);
        strong {
          font-size: 1.4em;
          line-height: 1;
        }
      }
    }
    @include media-query(desk) {
      p {
        @include inuit-font-size(32px, 1.2);
      }
      span {
        @include inuit-font-size(64px, 1);
        strong {
          font-size: 1.3em;
          line-height: 1;
        }
      }
    }
    position: relative;
    &:before {
      content: '';
      @include triangle(left,
      15px,
      $green);
      display: inline-block;
      @include center(y);
      position: absolute;
      left: -1.7em;
    }
  }

  .order {
    background: $red;
    a {
      @include inuit-font-size(52px, 0.8);
      @include media-query(small-and-palm) {
        @include inuit-font-size(42px, 0.8);
      }
      text-transform: uppercase;
      font-weight: bolder;
      padding: 20px;
      display: block;
      width: 100%;
      &:after {
        display: inline-block;
        width: 0.8em;
        height: 0.8em;
        vertical-align: bottom;
        @extend %arrow--base;
        @extend %arrow--icon__circ;
        margin-left: 0.2em !important;
      }
    }
  }
}
.content--product-area.product--free {
  .flash {
    @include media-query(small-and-palm) {
      strong {
        @include inuit-font-size(24px,
        1);
      }
    }
    @include media-query(lap) {
      strong {
        @include inuit-font-size(32px,
        1);
      }
    }
    @include media-query(desk) {
      strong {
        @include inuit-font-size(38px,
        1);
      }
    }
  }
}
.order--cashback {
  @include media-query(small-and-palm) {
    // display: none !important;
  }

  @include media-query(lap) {
    // display: block !important;
  }
}
.order--cowcoins {
  width: 100%;
}
.order--cashback {
  svg {
    width: 100%;
  }

  .cowcoins-0 & {
    #show0 {
      display: block;
    }
  }

  .cowcoins-1 & {
    #show1 {
      display: block;
    }
  }

  .cowcoins-2 & {
    #show2 {
      display: block;
    }
  }

  .cowcoins-3 & {
    #show3 {
      display: block;
    }
  }

  .cowcoins-4 & {
    #show4 {
      display: block;
    }
  }

  .cowcoins-5 & {
    #show5 {
      display: block;
    }
  }

  .cowcoins-6 & {
    #show6 {
      display: block;
    }
  }

  .cowcoins-7 & {
    #show7 {
      display: block;
    }
  }

  .cowcoins-8 & {
    #show8 {
      display: block;
    }
  }
}
