.content--pack__home {
  margin: 0 $spacer $spacer;
  .content--block__title {
    margin-left: -$spacer-large;
    margin-right: -$spacer-large;
  }
}

.content--block__title {
  @extend %pri-flash;
  text-align: center;
  position: relative;
  @include media-query(lap-and-up) {
    &:before {
      content: '';
      @include triangle(right, 1.5em, white);
      display: inline-block;
      @include center(y);
      position: absolute;
      height: 100%;
      left: 0;
    }
    &:after {
      content: '';
      @include triangle(left, 1.5em, white);
      display: inline-block;
      @include center(y);
      position: absolute;
      height: 100%;
      right: 0;
    }
  }
  h1 {
    @include media-query(desk) {
      @include inuit-font-size(22px, 2.2);
    }
    @include media-query(lap) {
      @include inuit-font-size(20px, 2.2);
    }
    @include media-query(small-and-palm) {
      @include inuit-font-size(16px, 1.2);
      padding: 0.5em;
    }
    margin-bottom: 0;
    color: $white;
  }
}

.content--block__holder,
.content--pack__holder {
  .link--icon {
    font-weight: bold;
  }
  > div:nth-of-type(1) {
    h2,
    a {
      color: $dblue;
    }
    .link--icon {
      @include link--icon__hover($dblue, #fff);
    }
  }
  > div:nth-of-type(2) {
    h2,
    a {
      color: $lblue;
    }
    .link--icon {
      @include link--icon__hover($lblue, #000);
    }
  }
  > div:nth-of-type(3) {
    h2,
    a {
      color: $green;
    }
    .link--icon {
      @include link--icon__hover($green, #000);
    }
  }
  > div:nth-of-type(4) {
    h2,
    a {
      color: $red;
    }
    .link--icon {
      @include link--icon__hover($red, #000);
    }
  }
}

.content--block__hassidecol {
  h2 {
    font-weight: normal;
  }
  .column--pack__main p {
    color: $dblue;
  }
}

.content--block__fourcol {
  .content--block__holder {
    @include outer-container;
    div {
      @include span-columns(3);
    }
  }
}

.content--block__fourcol {
  h2 {
    padding-bottom: 0.5em;
    small {
      margin-top: 1em;
      font-weight: 500;
      display: block;
    }
  }
  p {
    .iedetected & {
      margin-bottom: 1.5em;
      padding-bottom: 1em;
    }
  }
}

.content--block__fourcol {
  p {
    @include inuit-font-size(16px, 1.3);
  }
}

.content--block__fourcol {
  @include clearfix;
  // margin-bottom: $spacer-large;
}

.content--banner {
  background: $lblue;
  color: $white;
}

.content--banner__daisy {
  > div:first-of-type {
    vertical-align: top;
    padding: $spacer;
  }
  h3 {
    @include inuit-font-size(36px, 1);
    @include media-query(small-and-palm) {
      @include inuit-font-size(22px, 1);
    }
    @include media-query(lap-and-up) {}
  }
}

.content--banner__daisy {
  @include clearfix;
  @include media-query(lap) {
    > div:first-of-type {
      width: 100%;
    }
    .banner__counter {
      display: inline-block !important;
      width: 80%;
    }
    .odometer {
      font-size: 5em;
      padding: 0 35px;
      width: 100%;
    }
    .banner__daisylogo {
      @include clearfix;
      float: right;
    }
  }
  @include media-query(desk) {
    @include pack-table;
    /*         .no-flexbox & {
            @include pack-table;
            } */
    table-layout: auto;
    > div:first-of-type {
      width: 50%;
    }
    .odometer {
      font-size: 5em;
      padding: 0 35px;
    }
  }
  @include media-query(small-and-palm) {
    overflow: hidden;
    h3 {
      margin-bottom: 0;
    }
    .banner__counter {
      @include span-columns(9);
      padding: 0 $spacer;
    }
    .banner__daisylogo {
      @include span-columns(3);
    }
    .odometer {
      font-size: 3em;
    }
  }
  .banner__daisylogo {
    display: inline-block;
    background: $dblue;
    @include clearfix;
    float: right;
  }
}

.content--discount__title {
  @include outer-container;
  display: flex;
  .discount__title__left {
    @include span-columns(8);
  }
  .discount__title__right {
    @include span-columns(4);
  }
  @include media-query(small-and-palm) {
    padding: 1em;
    .discount__title__left {
      @include span-columns(12);
    }
    .discount__title__right {
      display: none;
    }
  }
}

.content--discount__section {
  @include outer-container;
  h1 {
    @include media-query(small) {
      @include inuit-font-size(22px, 1.2);
    }
    @include media-query(palm) {
      @include inuit-font-size(28px, 1.2);
    }
    @include media-query(lap) {
      @include inuit-font-size(32px, 1.2);
    }
    @include media-query(desk) {
      @include inuit-font-size(42px, 1.2);
    }
  }
  .discount__section__left {
    @include span-columns(9);
  }
  .discount__section__right {
    @include span-columns(3);
  }
  @include media-query(small-and-palm) {
    padding: 1em;
    .discount__section__left {
      @include span-columns(12);
    }
    .discount__section__right {
      display: none;
    }
  }
}

.content--discount__section-alt {
  margin-top: $spacer;
  border-top: 1px solid $dblue;
  padding-top: $spacer;
}

.content--discount__title {
  padding: $spacer;
  position: relative;
  overflow: hidden;
  h1 {
    @include inuit-font-size(42px, 1.2);
    small {
      font-size: 0.65em;
      display: block;
    }
  }
  h2 {
    margin-bottom: 0.4em;
  }
  p {
    @include inuit-font-size(18px, 1.2);
    margin-bottom: 0.4em;
  }
  @include media-query(small-and-palm) {
    h1 {
      font-size: 9vw;
      line-height: 1.1;
    }
    p {
      font-size: 5vw;
      line-height: 1.1;
    }
  }
  @include media-query(lap-and-up) {
    p {
      @include inuit-font-size(22px, 1.1);
    }
  }
  .tile--img {
    @include media-query(small-and-palm) {
      img {
        max-width: 200px;
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }
    @include media-query(lap-and-up) {
      position: absolute;
      right: double($spacer);
      bottom: halve($spacer);
      img {
        height: 210px;
      }
    }
  }
}

.content--banner__claim {
  padding: $spacer;
  position: relative;
  a {
    position: absolute;
    @include media-query(small) {
      position: relative;
      display: block;
      text-align: center;
    }
    bottom: 0;
    right: 0;
    @include media-query(small) {
      padding: quarter($spacer) $spacer;
    }
    padding: quarter($spacer) $spacer-huge quarter($spacer) $spacer;
    background: $dblue;
    @include inuit-font-size(18px, 1.2);
    color: #fff;
    font-weight: bold;
  }
}

.swiper-container-hero {
  position: relative;
}

.swiper-slide img {
  max-height: 400px;
}

.content--hero {
  text-align: center;
  color: #fff;
  @include media-query(small-and-palm) {
    .swiper-container-hero,
    .hero--social {
      display: none !important;
    }
    @include media-query(small-and-palm) {
      .hero__mobile {
        min-height: 70vw;
        background-image: url('/img/svg/hero-540.svg');
        background-size: 140vw;
        background-position: center;
      }
    }
  }
}

.swiper-slide-blue {
  background-color: $lblue;
}

.swiper-slide-dblue {
  background-color: $dblue;
}

.swiper-slide-pale {
  background-color: #FFF8F0;
}

.swiper-slide-white {
  background-color: #fff;
}


/* ---------------------------- */

.banner__daisylogo {
  width: 115px;
  img {
    height: 150px;
  }
}

.referral--banner {
  @include media-query(small-and-palm) {
    h3 {
      padding: 17.5px;
    }
  }
  @include media-query(lap-and-up) {
    h3 {
      padding: 35px;
    }
  }
}

.video-holder {
  background-color: #eee;
  .iframe-placeholder.preload:after {
    display: inline-block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
    transform-origin: 50%;
    animation: iframe-preloader-spin 1s steps(12, end) infinite;
    position: absolute;
    top: 40%;
    left: 45%;
  }
  // @include media-query(lap-and-up) {
  //   &:not(:last-of-type) {
  //     margin-bottom: 12px;
  //   }
  // }
}

@keyframes iframe-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

.splash--contain {
  position: relative;
  img {
    display: block;
    @include media-query(lap-and-up) {
      width: 85%;
    }
    widows: 100%;
    margin: 0 auto;
  }
}

.content--logolist {
  margin: $spacer-large 0;
  ul {
    @extend %list-inline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-query(small-and-palm) {
      justify-content: space-around;
      .company--logo {
        height: 20px;
        margin: 5px;
      }
    }
    @include media-query(lap) {
      justify-content: space-around;
      .company--logo {
        height: 30px;
        margin: 10px;
      }
    }
  }
}

.title--logolist {
  @extend %list-inline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    margin: 10px 0;
  }
  @include media-query(small-and-palm) {
    justify-content: space-around;
    .company--logo {
      height: 32px;
      margin: 5px;
    }
  }
  @include media-query(lap) {
    justify-content: space-around;
    .company--logo {
      height: 40px;
      margin: 5px;
    }
  }
  @include media-query(desk) {
    // justify-content: space-around;
    .company--logo {
      height: 66px;
      margin: 5px;
    }
  }
  @media screen and (max-width: 1024px) and (min-width: 1023px) {
    .company--logo {
      height: 60px !important;
    }
  }
}

.company--logo {
  height: 37px;
  margin: 10px;
}

.justgiving-banner--content {
  padding: 1.5em;
  color: #fff;
  h2 {
    font-size: 2em;
  }
  ul {
    margin-left: 1.3em;
  }
  li {
    font-size: 105%;
    font-weight: 500;
    line-height: 1.4;
    &:not(:last-of-type) {
      margin-bottom: 0.7em;
    }
  }
}

.justgiving-banner {
  display: flex;
  background: #6e3277;
}

.justgiving-banner--image {
  width: 45%;
  background-image: url(/img/justgiving.jpg);
  background-size: cover;
  background-position-y: 50%;
  position: relative;
  overflow: hidden;
}

.justgiving-banner--badge {
  position: absolute;
  top: -10px;
  left: 0;
}

@include media-query(lap-and-up) {
  .justgiving-banner--content {
    width: 55%;
  }
}

@include media-query(small-and-palm) {
    .justgiving-banner {
        flex-direction: column;
    }
    .justgiving-banner--image {
        height: 50vw;
        width: 100%;
    }
}

.svg-object {
    width: 100%;
}
.column--pack__main .svg-object {
    width: 77%;
    position: absolute;
    bottom: 0.5em;
}

.content--contain.faq > div {
  overflow: hidden;
}

.content--contain.faq .content--banner__daisy {
  margin-top: 64px;
}

@media screen and (min-width: 45em) {
  .content--contain h1,
  .content--contain .daisy-faq {
    margin-top: 32px;
  }
  .content--contain .daisy-faq {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .content--contain .daisy-faq:last-child {
    margin-right: 0;
  }
  .content--contain .text-page {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
  }
  .content--contain .text-page:last-child {
    margin-right: 0;
  }
}
