.container,
.content--contain,
.site--footer .footer {
  @include outer-container;
}

.site--header .container {
  padding: 0 1em;
}

@include media-query(desk) {
  .header--left {
    @include span-columns(6, block-collapse);
  }
  .header--right {
    @include span-columns(6, block-collapse);
  }
}

@include media-query(lap) {
  .header--left {
    @include span-columns(5.5);
  }
  .header--right {
    @include span-columns(6.5);
  }
}

.site--header {
  padding-top: 2em;
  @include media-query(lap-and-up) {
    padding-bottom: 1em;
  }
  @include media-query(small) {
    padding-top: 3.5em;
    // margin-bottom: $spacer;
  }
  @include media-query(palm) {
    padding-top: 3.5em;
    // margin-bottom: $spacer;
  }
}

.site--header,
.site--footer {
  @extend %pri-flash;
}

.header--left ul {
  @extend %list-inline;
}

.header--nav {
  margin-top: $spacer;
  @include media-query(small-and-palm) {
    display: none !important;
  }
  > ul > li {}
}

.header--nav > ul {
  z-index: 9999;
  margin: 0;
  @include media-query(desk) {
    @include pack-table;
    table-layout: auto;
  }
  @include media-query(lap) {
    @include pack-table;
    table-layout: auto;
  }
  > li {
    padding-right: 2em;
    text-align: left;
    a {
      @include header__link;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.cd-dropdown-wrapper {
  z-index: 99;
}

.cd-dropdown-content {
  @extend %list-bare;
  text-align: left;
  a {
    strong {
      display: block;
    }
    small {
      display: block;
    }
  }
}

.site--footer ul {
  @extend %list-inline;
  @extend %list-inline--delimited;
}


/* ----------- */

// padding...
//
.site--footer {
  ul {
    padding: halve($spacer);
    li {
      @include inuit-font-size(14px, 2);
      font-weight: 500;
    }
  }
  @include media-query(small-and-palm) {
    margin-top: $spacer;
  }
}

.content--block__holder {
  padding: 0 $spacer-large;
}

// hero
.content--hero {
  h1 {
    visibility: hidden;
  }
}

.header--social,
.hero--social {
  ul {
    @extend %list-inline;
    li {
      margin: 6px 1px;
      padding: 0 5px;
      background: $dblue;
      border-radius: 2px;
    }
    img {
      width: 25px;
    }
  }
}

.header--social {
  ul {
    float: right;
  }
  @include media-query(small-and-palm) {
    display: none;
  }
}

.hero--social {
  ul {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 12px;
  }
}
