.tabs {
    margin-bottom: 0 !important;
    margin-left: 0;
}

.tabs:before,
.tabs:after {
    content: " ";
    display: table;
}

.tabs:after {
    clear: both;
}

.tabs dd,
.tabs .tab-title {
    float: left;
    list-style: none;
    margin-bottom: 0 !important;
    position: relative;
}

.tabs dd > a,
.tabs .tab-title > a {
    display: block;
    background-color: #EFEFEF;
    color: #222222;
    // font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
}

.tabs dd > a:hover,
.tabs .tab-title > a:hover {
    background-color: #e1e1e1;
}

.tabs dd.active a,
.tabs .tab-title.active a {
    background-color: #FFFFFF;
    color: #222222;
}

.tabs.radius dd:first-child a,
.tabs.radius .tab:first-child a {
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.tabs.radius dd:last-child a,
.tabs.radius .tab:last-child a {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.tabs.vertical dd,
.tabs.vertical .tab-title {
    // position: inherit;
    float: none;
    display: block;
    top: auto;
}

.tabs-content {
    // margin-bottom: 1.5rem;
    width: 100%;
}

.tabs-content:before,
.tabs-content:after {
    content: " ";
    display: table;
}

.tabs-content:after {
    clear: both;
}

.tabs-content > .content {
    display: none;
    float: left;
    padding: 0.9375rem 0 0 0;
    width: 100%;
}

.tabs-content > .content.active {
    display: block;
    float: none;
}



.tabs-content > .content.contained {
    padding: 0.9375rem;
}

.tabs-content.vertical {
    display: block;
}

.tabs-content.vertical > .content {
    padding: 0 0.9375rem;
}

@media only screen and (min-width: 40.0625em) {
    .tabs.vertical {
        float: left;
        margin: 0;
        // margin-bottom: 1.25rem !important;
        // max-width: 20%;
        // width: 20%;
    }
    .tabs-content.vertical {
        float: left;
        margin-left: -1px;
        // max-width: 80%;
        padding-left: 1rem;
        // width: 80%;
    }
}

.no-js .tabs-content > .content {
    display: block;
    float: none;
}
