.text-page {
    @include outer-container(50em);
    @include media-query (lap) {
        @include outer-container(90%);
    }
    @include media-query (lap) {
        @include outer-container(90%);
    }
    @include media-query (small-and-palm) {
        font-size: 90%;
        @include outer-container(90%);
        ul {
            margin-left: 2em;
        }
    }

    h1, h2, h3, h4 {
        margin-top: 2em;
    }
    h1 {
        color: $dblue;
    }
    h2 {
        color: mix($lblue, #fff, 80);
    }
    h3 {
        color: mix($lblue, #fff, 60);
    }
    p {
        line-height: 1.8;
        strong {
            color: mix($dblue, #fff, 75);
        }
    }
    table {
        p {
            margin: 0;
            line-height: 1.2;
        }
        td, th {
            border-color: #ddd;
            text-align: left;
            padding: 0.5em;
            font-size: 85%;
        }
    }
}
