
$spacer: em(24px);
$spacer-large: em(35px);
$spacer-huge: em(72px);
$max-width: em(1280); // bourbon neat grid width
/*
    ==========
    Pallette
    ==========
*/

// Pallette Specifics
$white: #fff;
$black: #000;
$dblue: #002F67;
$lblue: #008FD5;
$green: #00B05D;
$red: #F15D40;
$dgrey: #58595B;
$lgrey: #f2f2f2;
%pri-flash {
    background: $dblue;
    color: $white;
}

@mixin abs-fill($offset:0) {
    position: absolute;
    top: $offset;
    bottom: $offset;
    left: $offset;
    right: $offset;
}

@mixin pack-table {
    width: 100%;
    display: table;
    table-layout: fixed;
    > * {
        display: table-cell;
        vertical-align: top;
    }
}

@mixin pack {
    width: 100%;
    display: flex;
    > * {
        display: flex;
        flex: 1 0;
    }
}

@mixin link--icon__hover($color, $mix) {
    &:hover, &:active, &:focus {
        color: mix($mix, $color, 20);
        &:after {
            background-color: mix($mix, $color, 20);
        }
    }
    &:after {
        background-color: $color;
    }
}

@mixin tile--icon__hover($color, $mix) {
    background-color: $color;
    &:hover, &:active, &:focus {
        background-color: mix($mix, $color, 20);
    }
}




// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

