.testimonials--header {
    color: $dblue;
    @include media-query(small-and-palm) {
        margin-top:  35px;
        margin-left:  17.5px;
        margin-right: 17.5px;
        @include inuit-font-size(24px, 1.1);
    }
}

.testimonials--holder {
    @include outer-container;
    > div {
        @include media-query(small-and-palm) {
            @include span-columns(12);
        }
        @include media-query(lap-and-up) {
            @include span-columns(6);
        }
    }
    .video-holder {
        margin-bottom: 2em;
    }
}

.video-holder {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */

    padding-top: 25px;
    height: 0;
}

.video-holder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content--pack__holder .video-holder:last-of-type {
    margin-top: auto;
}
