<footer class="site--footer">
    <ul class="footer">
        <!-- <li>Terms &amp; Conditions </li> -->
        <li><a href="/privacy.html">Privacy policy</a></li>
        <li><a href="/faq.html">FAQs</a></li>
        <!-- <li>Cookie policy</li> -->
        <li>&copy; 2015 Cashback Broadband UK Limited.</li>
    </ul>
</footer>
