<header class="site--header">
  <div class="container">
    <div class="header--left">
      <a href="/">
        <ul>
          <li class="header--left__cashback"><img class="iesvg" src="img/svg/cashback-logo.svg" alt=""></li>
          <li class="header--left__daisy"><img src="img/svg/daisy-logo.svg" alt=""></li>
        </ul>
      </a>
      <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
    </div>
    <div class="header--right">
      <div class="header--right__message">Call us now <strong><a href="tel:03333444901">03333 444 901</a></strong></div>
      <div class="header--social">
        <ul>
          <li>
            <a href="https://www.facebook.com/cashbackbroadband/" target="_blank"><img src="/img/svg/social-fbook.svg" alt=""></a>
          </li>
          <li>
            <a href="https://twitter.com/CashbackBB" target="_blank"><img src="/img/svg/social-twitter.svg" alt=""></a>
          </li>
          <li>
            <a href="https://plus.google.com/u/0/113310681099022809491" target="_blank"><img src="/img/svg/social-gplus.svg" alt=""></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/profile/view?id=AAMAABtzFvgBq1gXLmT38pxCzxKzE5W2S904W8M&trk=hp-identity-name" target="_blank"><img src="/img/svg/social-li.svg" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header--nav">
      <ul>
        <li>
          <div class="cd-dropdown-wrapper">
            <a class="cd-dropdown-trigger" href="#0">Broadband &amp; Phone Packages</a>
            <nav class="cd-dropdown">
              <a href="#0" class="cd-close">Close</a>
              <ul class="cd-dropdown-content">
                <li>
                  <a href="/product-earn.html">
                    <strong>Earn Money</strong>
                    <small>Do you want cashback paid directly into your bank?</small>
                  </a>
                </li>
                <li>
                  <a href="/product-save.html">
                    <strong>Save Money</strong>
                    <small>Do you want to pay the lowest price on the market?</small>
                  </a>
                </li>
                <li>
                  <a href="/product-free.html">
                    <strong>Free Service</strong>
                    <small>Do you want a completely free service for six months?</small>
                  </a>
                </li>
                <li>
                  <a href="/product-give.html">
                    <strong>Give Money</strong>
                    <small>Do you want to reward a charity not the middle man?</small>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </li>
        <li><a href="/comparison.html">Competitor Price Comparison</a></li>
        <li><a href="/discount-card.html">Exclusive Discount Card</a></li>
        <li><a href="/cashback-tv.html">Customer Testimonials</a></li>
        <li><a href="/faq.html">FAQs</a></li>
      </ul>
    </div>
  </div>
</header>
