<header class="content--hero">
  <div class="hero--social">
    <ul>
      <li>
        <a href="https://www.facebook.com/cashbackbroadband/" target="_blank"><img src="/img/svg/social-fbook.svg" alt=""></a>
      </li>
      <li>
        <a href="https://twitter.com/CashbackBB" target="_blank"><img src="/img/svg/social-twitter.svg" alt=""></a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/113310681099022809491" target="_blank"><img src="/img/svg/social-gplus.svg" alt=""></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/profile/view?id=AAMAABtzFvgBq1gXLmT38pxCzxKzE5W2S904W8M&trk=hp-identity-name" target="_blank"><img src="/img/svg/social-li.svg" alt=""></a>
      </li>
    </ul>
  </div>
  <div class="swiper-container-hero" id="swiper-container-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-blue">
        <img src="/img/svg/hero-540.svg" alt="">
      </div>
      <div class="swiper-slide swiper-slide-pale">
        <img src="/img/svg/hero-wires.svg" alt="">
      </div>
      <div class="swiper-slide swiper-slide-dblue">
        <img src="/img/svg/hero-aboutdaisy.svg" alt="">
      </div>
      <!--
      <div class="swiper-slide swiper-slide-white">
         <object type="image/svg+xml" width="1015" height="400" data="/img/svg/hero-demand.svg">
        </object>
      </div>
       -->
      <div class="swiper-slide swiper-slide-white">
        <object type="image/svg+xml" width="1015" height="400" data="/img/svg/hero-daisycust.svg">
        </object>
      </div>
      <div class="swiper-slide swiper-slide-white">
        <object type="image/svg+xml" width="1015" height="400" data="/img/svg/hero-discount.svg">
        </object>
      </div>
      <div class="swiper-slide swiper-slide-white">
        <img src="/img/svg/hero-middleman.svg" alt="">
      </div>
      <div class="swiper-slide swiper-slide-white">
        <object type="image/svg+xml" width="1015" height="400" data="/img/svg/hero-tv.svg">
        </object>
      </div>
      <div class="swiper-slide swiper-slide-blue">
        <img src="/img/svg/hero-reliable.svg" alt="">
      </div>
    </div>
    <div class="swiper-button-next">
      <svg x="0px" y="0px" width="33px" height="33px" viewBox="0 0 33 33" enable-background="new 0 0 33 33" xml:space="preserve">
        <circle fill="none" stroke="#E0E0E0" stroke-miterlimit="10" cx="16.5" cy="16.5" r="16" />
        <polygon fill="#E0E0E0" points="15.175,22.74 21.27,16.412 15.162,10.26 13.742,11.67 18.472,16.433 13.732,21.353 " />
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg x="0px" y="0px" width="33px" height="33px" viewBox="0 0 33 33" enable-background="new 0 0 33 33" xml:space=preserve>
        <circle fill=none stroke="#E0E0E0" stroke-miterlimit=10 cx=16.5 cy=16.5 r="16" />
        <polygon fill="#E0E0E0" points="17.825,10.26 11.731,16.588 17.838,22.74 19.258,21.33 14.528,16.567 19.268,11.647 " />
      </svg>
    </div>
  </div>
  <div class="hero__mobile">
      <!-- <img src="/img/svg/hero-540.svg" alt=""> -->
  </div>
</header>
