


<nav id="cd-lateral-nav">

    <ul class="cd-navigation cd-single-item-wrapper">
        <li><a href="/">Home</a></li>
    </ul>

    <ul class="cd-navigation">
        <li class="item-has-children">
            <a href="#0">Broadband &amp; <br> Phone Packages</a>
            <ul class="sub-menu">
                <li><a href="/product-earn.html">Earn Money</a></li>
                <li><a href="/product-save.html">Save Money</a></li>
                <li><a href="/product-free.html">Free Service</a></li>
                <li><a href="/product-give.html">Save Money</a></li>
            </ul>
        </li>
    </ul>

    <ul class="cd-navigation cd-single-item-wrapper">
        <li><a href="/discount-card.html">Exclusive Discount Card</a></li>
        <li><a href="/cashback-tv.html">Customer Testimonials</a></li>
        <li><a href="/faq.html">FAQs</a></li>
        <li><a href="/privacy.html">Privacy</a></li>
    </ul>

    <div class="cd-navigation socials">
        <a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
        <a class="cd-linkedin cd-img-replace" href="#0">LinkedIn</a>
        <a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
        <a class="cd-google cd-img-replace" href="#0">Google Plus</a>
    </div>

</nav>
