<!DOCTYPE html>
<!-- build:include inc/_doctypeadd.html -->
<!-- /build -->

<head>
    <!-- build:include inc/_htmlhead.html -->
    <!-- /build -->
</head>

<body>
    <div class="cd-main-content">
        <!-- build:include inc/_header.html -->
        <!-- /build -->
        <div id="wrapper">
            <div class="content--contain">
                <h1 class="testimonials--header">Customer Testimonials</h1>
                <div class="testimonials--holder">
                    <div>
                        <div class="video-holder">
                            <div class="iframe-placeholder preload" data-src="{{iframe.testimonials-1}}"></div>
                        </div>
                    </div>
                    <div>
                        <div class="video-holder">
                            <div class="iframe-placeholder preload" data-src="{{iframe.testimonials-2}}"></div>
                        </div>
                    </div>
                </div>
                <div class="testimonials--holder">
                    <div>
                        <div class="video-holder">
                            <div class="iframe-placeholder preload" data-src="{{iframe.testimonials-3}}"></div>
                        </div>
                    </div>
                </div>
                <aside class="content--banner content--banner__claim">
                    <h3>Earn cash paid directly onto your card by recommending us to other businesses.</h3>
                    <a href="http://collect.nm-web-3.email0.co.uk/form/611/2383193">CLAIM YOUR CASH HERE</a>
                </aside>
            </div>
        </div>
        <!-- build:include inc/_footer.html -->
        <!-- /build -->
    </div>
<!-- build:include inc/_off-canvas.html -->
<!-- /build -->
<!-- build:include inc/_htmlfoot.html -->
<!-- /build -->
