<!DOCTYPE html>
<!-- build:include inc/_doctypeadd.html -->
<!-- /build -->

<head>
  <!-- build:include inc/_htmlhead.html -->
  <!-- /build -->
</head>

<body>
  <div class="cd-main-content">
    <!-- build:include inc/_header.html -->
    <!-- /build -->
    <div id="wrapper">
      <div class="content--contain comparison">
        <h1>Value Comparison</h1>
        <h2>How does <img src="img/svg/cashback-logo-alt.svg" alt="" class="inline--logo__daisy"> compare to <img src="/img/svg/compare-logos-bt.svg" alt="" class="inline--logo__other"> Infinity</h2>
        <div class="content--row__compare">
          <div class="content--row__left">
            <img src="/img/svg/daisy-compare.svg" class="iesvg" alt="">
            <!-- <p class="small"><sup>*</sup>Prices as per provider website and correct at 04/08/15.</p> -->
          </div>
          <div class="content--row__right">
            <h3>Here's why she switched from BT</h3>
            <div>
              <div class="video-holder">
                <div class="iframe-placeholder preload" data-src="{{iframe.testimonials-1}}"></div>
              </div>
            </div>
            <a href="/product-earn.html" class="btn">It's your turn to switch now</a>
          </div>
        </div>
        <div class="table--container">
          <table class="compare--table compare--table__package">
            <thead>
              <tr>
                <th>Package</th>
                <th>Setup Fees</th>
                <th>Monthly Fee</th>
                <th>Mobile Costs</th>
                <th>Cash Rewards</th>
                <th>Discount Card</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="6" class="table__ident">
                  <span><strong>Ultrafast Business Broadband+</strong></span>
                </td>
              </tr>
              <tr>
                <td class="list">
                  <ul>
                    <li>Ultrafast Business Broadband+</li>
                    <li>80mb Fibre Broadband</li>
                    <li>Unlimited Usage</li>
                    <li>Unlimited Local / National Calls</li>
                    <li>400 Mobile Minutes</li>
                  </ul>
                </td>
                <td>
                  <p>&pound;<span class="lg">100</span></p>
                </td>
                <td>
                  <p>&pound;<span class="lg">69</span>.99</p>
                  <p class="sm">+ &pound;20 Line Rental</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">8</span></p>
                  <p class="sm">100 Minutes</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">540</span></p>
                  <p class="sm">Cash in to
                    <br>your bank</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">932</span></p>
                  <p class="sm">Annual
                    <br>Savings</p>
                </td>
              </tr>
              <tr>
                <td colspan="6" class="table__ident">
                  <span><strong>BT Infinity</strong></span>
                </td>
              </tr>
              <tr>
                <td class="list">
                  <ul>
                    <li>BT Infinity</li>
                    <li>80mb Fibre Broadband</li>
                    <li>Unlimited Usage</li>
                    <li>No Call Plan</li>
                  </ul>
                </td>
                <td>
                  <p>&pound;<span class="lg">138</span></p>
                </td>
                <td>
                  <p>&pound;<span class="lg">89</span>.49</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">22</span>.20</p>
                  <p class="sm">100 Minutes</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">0</span></p>
                  <p class="sm">Cash in to
                    <br>your bank</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">0</span></p>
                  <p class="sm">Annual
                    <br>Savings</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>
          <small>
              £2,326 Better Value: 36 Month cost comparison of Cashbackbroadband Ultrafast Plus (£69.99 per month + £20 Line Rental with Unlimited Local & National Calls & 400 Mobile Minutes) with £540 Cash paid into your bank, compared to BT Infinity Premium (£46.00 per month plus Phone line & Critical Care £25.23, Static IP £5.50, Office 365 Upgrade £4.00, Call Features £8.74, No Call Plan & £130 Installation Total Monthly Cost £89.49 Price comparison excludes all promotions. Prices as per provider website and correct at  04/08/15
          </small>
        </p>
        <br><br>
        <!-- <div class="dn"> -->
        <!-- build:include inc/daisy-6mnth.svg -->
        <!-- /build -->
        <!-- </div> -->
        <div class="content--row__comparealt">
          <h2>The better way to do promotions with <img src="img/svg/cashback-logo-alt.svg" alt="" class="inline--logo iesvg"></h2>
          <div class="content--row__left">
            <img src="img/svg/daisy-6mnth.svg" class="iesvg" />
          </div>
          <div class="content--row__right">
            <div class="flex-col flex-row_sm">
              <img class="" src="/img/svg/compare-logos-bt.svg" alt="">
              <img class="" src="/img/svg/compare-logos-tt.svg" alt="">
              <img class="" src="/img/svg/compare-logos-vi.svg" alt="">
              <img class="" src="/img/svg/compare-logos-pl.svg" alt="">
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <h2>The better way to do call plans with <img src="img/svg/cashback-logo-alt.svg" alt="" class="inline--logo iesvg"></h2>
        <div class="table--container">
          <table class="compare--table compare--table__supplier">
            <thead>
              <tr>
                <th>Supplier</th>
                <th>Connection Fee</th>
                <th>Landline Rate</th>
                <th>Mobile Rate</th>
                <th>Average Monthly Call Spend</th>
                <th class="lastcol">Cashback Savings Over term</th>
                <th class="co__logo__mob">Supplier</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="co__logo"><img src="/img/svg/compare-logos-bt.svg" alt=""></td>
                <td>
                  <p>&pound;<span class="lg">0</span></p>
                </td>
                <td>
                  <p><span class="lg">9</span>p</p>
                </td>
                <td>
                  <p><span class="lg">22</span>.2p</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">31</span>.20</p>
                </td>
                <td class="lastcol">
                  <p>&pound;<span class="lg">763</span>.20</p>
                </td>
                <td class="co__logo__mob"><img src="/img/svg/compare-logos-bt.svg" alt=""></td>
              </tr>
              <tr>
                <td class="co__logo"><img src="/img/svg/compare-logos-tt.svg" alt=""></td>
                <td>
                  <p><span class="lg">6</span>p</p>
                </td>
                <td>
                  <p><span class="lg">5</span>.5p</p>
                </td>
                <td>
                  <p><span class="lg">9</span>.95p</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">27</span>.45</p>
                </td>
                <td class="lastcol">
                  <p>&pound;<span class="lg">626</span>.20</p>
                </td>
                <td class="co__logo__mob"><img src="/img/svg/compare-logos-tt.svg" alt=""></td>
              </tr>
              <tr>
                <td class="co__logo"><img src="/img/svg/compare-logos-vi.svg" alt=""></td>
                <td>
                  <p>&pound;<span class="lg">0</span></p>
                </td>
                <td>
                  <p><span class="lg">5</span>.5p</p>
                </td>
                <td>
                  <p><span class="lg">9</span>.95p</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">15</span>.45</p>
                </td>
                <td class="lastcol">
                  <p>&pound;<span class="lg">196</span>.20</p>
                </td>
                <td class="co__logo__mob"><img src="/img/svg/compare-logos-vi.svg" alt=""></td>
              </tr>
              <tr>
                <td class="co__logo"><img src="/img/svg/compare-logos-pl.svg" alt=""></td>
                <td>
                  <p>&pound;<span class="lg">0</span></p>
                </td>
                <td>
                  <p><span class="lg">3</span>p</p>
                </td>
                <td>
                  <p><span class="lg">9</span>.95p</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">12</span>.95</p>
                </td>
                <td class="lastcol">
                  <p>&pound;<span class="lg">106</span>.20</p>
                </td>
                <td class="co__logo__mob"><img src="/img/svg/compare-logos-pl.svg" alt=""></td>
              </tr>
              <tr>
                <td class="co__logo"><img src="img/svg/cashback-logo-alt.svg" alt=""></td>
                <td>
                  <p>&pound;<span class="lg">0</span></p>
                </td>
                <td>
                  <p><span class="lg">2</span>p</p>
                </td>
                <td>
                  <p><span class="lg">8</span>p</p>
                </td>
                <td>
                  <p>&pound;<span class="lg">10</span>.00</p>
                </td>
                <td class="lastcol">
                  <p class="order"><a href="/product-earn.html">Start saving on <br>your calls today</a></p>
                </td>
                <td class="co__logo__mob"><img src="img/svg/cashback-logo-alt.svg" alt=""></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="small"><sup>*</sup>Average monthly call spend based on 100 mobile minutes and 100 landline minutes</p>
      </div>
    </div>
    <!-- build:include inc/_footer.html -->
    <!-- /build -->
  </div>
<!-- build:include inc/_off-canvas.html -->
<!-- /build -->
<!-- build:include inc/_htmlfoot.html -->
<!-- /build -->
