<!DOCTYPE html>
<!-- build:include inc/_doctypeadd.html -->
<!-- /build -->

<head>
  <!-- build:include inc/_htmlhead.html -->
  <!-- /build -->
</head>

<body>
  <div class="cd-main-content">
    <!-- build:include inc/_header.html -->
    <!-- /build -->
    <div id="wrapper">
      <div class="content--contain">
        <h1>Earn Money</h1>
        <section class="content--block__fourcol content--block__packages">
          <div class="content--pack__holder">
            <div class="content--pack">
              <div class="column--pack__side column--pack__sidecol--one"><span>01</span></div>
              <div class="column--pack__main">
                <h2>Select your package</h2>
                <p>Superfast broadband can transform the way you work.</p>
                <p>Choose the right deal that matches your business needs</p>
                <p>See how much cashback you can earn below.</p>
                <img src="/img/svg/pkg-colx3-1.svg" alt="">
              </div>
            </div>
            <div class="content--pack">
              <div class="column--pack__side column--pack__sidecol--two"><span>02</span></div>
              <div class="column--pack__main">
                <h2>Cash rewards paid into your bank</h2>
                <p>Get half your cash reward after your first payment.</p>
                <p>The remainder of your reward is paid after your third payment. This is paid into the account your direct debit is set up on.</p>
                <img src="/img/svg/pkg-colx3-2.svg" alt="">
              </div>
            </div>
            <div class="content--pack">
              <div class="column--pack__side column--pack__sidecol--three"><span>03</span></div>
              <div class="column--pack__main">
                <h2>Use your cashback card</h2>
                <p>Once you have placed your order you will receive your cashback card in the post.</p>
                <p>Register your card so you and your staff can start saving.</p>
                <object class="svg-object" type="image/svg+xml" width="300" data="/img/svg/pkg-colx3-3.svg"></object>
              </div>
            </div>
            <div class="content--pack content--pack__column-video">
              <div class="video-holder">
                <div id="iframe-1-placeholder" class="iframe-placeholder preload" data-src="{{iframe.product-earn-1}}"></div>
              </div>
              <div class="video-holder">
                <div id="iframe-2-placeholder" class="iframe-placeholder preload" data-src="{{iframe.product-earn-2}}"></div>
              </div>
            </div>
          </div>
        </section>
        <aside class="content--banner content--banner__daisy">
          <div>
            <h3>Number of Broadband Connections last month</h3>
          </div>
          <div class="banner__counter">
            <div id="odometer" class="odometer" data-number="{{total-broadband-customers}}"></div>
          </div>
          <span class="banner__daisylogo"><img data-src="img/svg/daisy-logo.svg" class="lazy" alt=""></span>
        </aside>
        <aside class="content--banner content--banner__daisy">
          <img src="img/svg/udders.svg" class="lazy iesvg" alt="">
        </aside>
        <section class="content--product-area">
          <div class="dn">
            <!-- build:include inc/cow-coins-all.svg -->
            <!-- /build -->
            <!-- build:include inc/product-stamps.svg -->
            <!-- /build -->
          </div>
          <div class="section">
            <div class="product--column">
              <div class="column--header">Monthly Cost</div>
              <ul class="tabs vertical">
                {{#each products}}
                <li class="tab-title {{default}}"><a href="#item{{@key}}"><span>&pound;</span>{{price}}</a></li>
                {{/each}}
                <li class="tab-title contact"><a href="mailto:sales@cashbackbroadband.com ">Not here? Tell us what you need.</a></li>
              </ul>
            </div>
            <div class="product--column">
              <div class="product--info infoactive-0">
                <div class="column--header">Package Details</div>
                <div class="tabs-content">
                  {{#each products}}
                  <div class="content {{default}}" id="#item{{@key}}">
                    <h3>{{{title}}}</h3>
                    <div class="product--stamps">
                      {{#each desc}}
                      <div>
                        <svg viewBox="0 0 150 101">
                          <use xlink:href="#{{this}}" x="230" y="-345" style="fill: #178FCE"></use>
                        </svg>
                      </div>
                      {{/each}}
                    </div>
                    <p class="product--text"><strong>+&pound;20 Line Rental. </strong> Your actual speed may vary based on your location.</p>
                    <div class="product--badges">
                      {{#each badge}}
                      <div>
                        <img class="lazy" data-src="img/svg/badges_{{this}}.svg" alt="">
                      </div>
                      {{/each}}
                    </div>
                    <div class="product--text__below product--text">
                      <h2>{{subtext}}</h2>
                      <p>{{subtext-sub}}</p>
                      <img class="product--sub__{{sub}}" src="img/svg/product-sub-{{sub}}" alt="">
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
              <div class="product--order">
                <div class="column--header">&nbsp;</div>
                {{#each products}}
                <div class="product--order__item {{default}}">
                  <div class="order--cashback">
                    <svg viewBox="40 -40 360 450">
                      <use xlink:href="#daisycoins{{@index}}" x="-100" y="-200"></use>
                    </svg>
                  </div>
                  <div class="flash">
                    <p>Cashback Total</p>
                    <span>&pound;<strong>{{flash}}</strong></span>
                  </div>
                  <div class="order">
                    <a href="{{link}}">order<br>now</a>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </section>
        <section class="content--custom-tiles">
          <div class="content--custom-tile content--custom-tile__alpha2">
            <div class="content--custom-tile__head">
              <h3>About Daisy</h3>
              <p>Established since 2001, Daisy serves more than 60,000 customers to deliver communications to organisations spanning the length and breadth of the country.</p>
            </div>
            <div class="tile__daisylogo">
              <img class="lazy fr" data-src="img/svg/daisy-logo.svg" alt="">
            </div>
            <div class="partners-bt-virgin">
              <img class="lazy iesvg" data-src="img/svg/partners-bt-virgin.svg" alt="">
            </div>
          </div>
        </section>
        <section class="content--custom-tiles">
          <div class="content--custom-tile content--custom-tile__beta1">
            <h3>Are you Based in a Superconnected City?</h3>
            <p>If so then find out if you are eligible for funding towards a faster internet connection.</p>
            <img class="lazy" data-src="img/svg/superconnected-city.svg" alt="">
          </div>
          <div class="content--custom-tile content--custom-tile__beta2">
            <div class="superconnected-logo">
              <img class="lazy" data-src="img/superconnected-logos.png" alt="">
            </div>
            <div class="custom--beta2__eligible">
              <a href="https://www.connectionvouchers.co.uk/eligibility-checker/" target="_blank">SEE IF YOU ARE ELIGIBLE</a>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- build:include inc/_footer.html -->
    <!-- /build -->
  </div>
<!-- build:include inc/_off-canvas.html -->
<!-- /build -->
<!-- build:include inc/_htmlfoot.html -->
<!-- /build -->
